<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <servlet>
        <servlet-name>SelectTeachServlet</servlet-name>
        <servlet-class >com.sys.controller.SelectTeachServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SelectTeachServlet</servlet-name>
        <url-pattern>/selectteach</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SelectLearnServlet</servlet-name>
        <servlet-class >com.sys.controller.SelectLearnServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SelectLearnServlet</servlet-name>
        <url-pattern>/selectlearn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddTeacherServlet</servlet-name>
        <servlet-class >com.sys.controller.AddTeacherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddTeacherServlet</servlet-name>
        <url-pattern>/addteacher</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SerialTestServlet</servlet-name>
        <servlet-class >com.sys.controller.SerialTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SerialTestServlet</servlet-name>
        <url-pattern>/serialtest</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>SelectTeacherServlet</servlet-name>
        <servlet-class >com.sys.controller.SelectTeacherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SelectTeacherServlet</servlet-name>
        <url-pattern>/selectteacher</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SelectStudentServlet</servlet-name>
        <servlet-class >com.sys.controller.SelectStudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SelectStudentServlet</servlet-name>
        <url-pattern>/selectstudent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SelectCourseServlet</servlet-name>
        <servlet-class >com.sys.controller.SelectCourseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SelectCourseServlet</servlet-name>
        <url-pattern>/selectcourse</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>com.sys.filters.CORSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern> <!-- 拦截所有请求 -->
    </filter-mapping>
</web-app>
